# Build output
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Editor
*.bak
*~

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Test
.jqwik-database

# Spring Boot
*.pid

# Application
/data/
workerID.properties
